* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    
}
/* header style  */
.donate{
    background-image: url('../images/donation1.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    align-items: center;
    text-align: center;
    color: white;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-main{
    font-size: 60px;
   
}

.header-description{
    font-size: 20px;
    
}

.btn-primary{
    background-color: tomato;
    border: 0;
    color: white;
    padding: 10px 15px;
    font-weight: 700;
    font-size: 22px;
    margin-top: 20px;
    border-radius:5px;
}

/* main style */

.main{
    width: 80%;
    margin: 0 auto;
    color: gray;
    text-align: center;
}

/* donate today start */

.donate_today{
    overflow: hidden;
}

.donate_title{
    color: black;
    font-size: 40px;
    font-weight: bold;
    margin-top: 60px;
}

.donate-description{
    color: gray;
    width: 700px;
    margin: 20px auto;
    font-size: 20px;
    margin-bottom: 30px;

}

.number{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 50px;
}

.active{
    color: tomato;
    border: 3px solid tomato;
    padding: 20px 20px;
    background-color: #FFEEEE;
    border-radius: 5px;
}

.plan-box{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 60px 70px;
}

.box{
    border: 1px solid slateblue;
    width: 350px;
    height: 300px;
    text-align: start;
    padding: 20px;
}

.box-image{
    margin-top: 20px;
}

.plan-title{
    padding-top: 60px;
    padding-bottom: 20px;
    color: black;
    font-weight: bold;
}

.box-title{
    margin: 20px 0;
}

.box-description{
    tab-size: 22px;
    line-height: 1.6rem;
}

.b1{
    background-color: #EDF5F6;
}
.b2{
    background-color:  #FFEEEE;
}
.b3{
    background-color: #FFF4D6;
}
/* donate today end */


/* your donation start */

.first{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 50px;
}

.second{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 50px;
}

.you-title{
    font-weight: bold;
    color: black;
    font-size: 45px;
}

.you-description{
    font-size: 20px;
    line-height: 1.5rem;
}

.pic{
    width: 450px;
    height: 450px;
}
/* your donation end */


/* Get Update Start */
.get{
    margin-top: 70px;
}

.get-title{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    color: black;
}

.anotherbox{
    margin: 70px auto;
    width: 80%;
    height: 300px;
    background-color: #FFF4D6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.em{
    padding: 14px 15px;
    height: 22px;
    width: 230px;
    z-index: 1;
    border: 0;
    background-color: #FFFFFF;
}
/* Get Update End */

/* footer Start */
.footer{
    height: 200px;
    width: 80%;
    margin: 0 auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.bh{
    font-family: 'Dancing Script', cursive;
    color: tomato;
    font-weight: bold;
    font-size: 35px;
}
.ig{
    margin-top: 30px;
    color: white;
}
/* footer End */